body{
  background-color: #f4f4f4;
}
.Menubar{
width: 100%;
overflow: hidden;
background-color: #8585C2;
position: fixed;
top: 0;
left: 0;
/* border-radius: 9px; */
}
ul{
  list-style-type: none;
}

li a{
  text-decoration: none;
  color: white;
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-weight: bold;

}
.mission{
  width: 800px;
}
input[type="text"]{
  width: auto;
  padding: 3px;
  border-radius: 9px;
  border: none;
}
.mission p{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #7d7d7d;
}
h2{
  font-size: 40px;
}
button[type="submit"]{
    width: 120px;
    height: 35px;
    margin-top: 25px;
    background-color: #8585C2;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 9px;
    margin-left: 45px;
    
}
/* .boxanime{
  background-color: #8585C2;
  width: 200px;
  height: 90px;
  color: white;
  font-size: 20px;
  bottom: 50px;
  text-align: center;
  padding-top: 15px;
  transition: width 2s, height 2s, transform 2s;
  animation: tryout 4s -1s 4;
}
@keyframes tryout{
  0%{left: 0; top: 50px;}
  25%{left: 100px; top: 50px;}
  50%{left: 100px; top: -50px;}
  75%{left: 0; top: -50px;}
  100%{left: 0; top: 50px;}
} */